/* General */
body {
    overflow-x: hidden;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
.offset:before {
    height: 4rem;
    margin-top: 4rem;
    content: "";
    display: block;
}

/* NavBar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background:rgba(0, 0, 0, .3)!important;

}
.navbar-brand img {
    height: 3rem;
    color: white;
}
.navbar-brand  {
    color: white;
    
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-light .navbar-nav .navbar-link {
color: white;
padding-top: .8rem;
}

/* Slider */
.carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top:38%;
    text-transform: uppercase;
    width: 100%;
    right:0;
    left: 0;
}

.carousel-caption h1 {
font-size: 4rem;
font-weight: 700;
text-shadow: .1rem .1rem .5rem black;
padding-bottom: 1rem;

}
.carousel-caption h3 {
padding-bottom: 1rem;
text-shadow: .1rem .1rem .5rem black;
font-size: 2rem;
}
.btn-lg {
border-width: medium;
font-size: 1rem;
}



/* Github */
.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
  }

  

  /* About */


  /* Portfolio */
.portfolio {
    overflow: hidden;
  }

.jumbotron {
    border-radius: 0;
    padding: 3rem 0 2rem;  
}

h3.heading {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.heading-underline {
    width: 3rem;
    height: .5rem;
    background-color: black;
    margin: 0 auto 2rem;
}
.portfolio-img {
    max-width: 100%;
    transition: .5s ease;
    max-height: 100%;
}

.row.no-padding [class*=col-] {
    padding: 0;
}

.portfolio img:hover {
    transform: scale(1.1);

}
  /* Footer */
